body{
    display: flex;
    flex-wrap: nowrap;
    /*background-color: rgb(136, 253, 228);*/
    background-color: rgb(104, 241, 212);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.table{
    background-color: rgb(255, 255, 255);
}